/**
 * This file is part of the SimpleBootstrap Bundle.
 *
 * @author aRn0D (Arnaud Langlade) <arn0d.dev@gmail.com>
 * @author Julien Janvier
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/** Flashes messages */
#flashesMessage ul {
    margin-bottom: 0px;
}

/** Form CSS */
.displayedValue {
    padding-top: 5px;
    position: relative;
}
.displayedValue i.icon-edit {
    position: absolute;
    top: 0;
    right: 0;
    float: none;
    cursor:pointer;
}
.modal form {
    margin-bottom: 0px;
}

.datepicker.input-append {
    display: block; /*TODO : test it*/
    padding: 0px;
    font-size:inherit;
}

.datepicker .displayedValue {
    display: block;
}

.colorpicker.input-append {
    display: block; /*TODO : test it*/
    padding: 0px;
    font-size: inherit;
}

/* Choice fields display with radio*/
.control-choice-input {
    position: relative;
    height: 20px;
}
.control-choice-input input {
    float: none;
    position: absolute;
    left: 0;
    top: 0;
    top: 4px;
}
.control-choice-input .control-label {
    float: none;
    position: absolute;
    left: 25px;
    top: 0;
    width: auto;
}
